
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <form>
            <th scope="col">User Name</th>
            <th scope="col">Password</th>
            </form>
        </tr>
    </thead>

    <tbody>
        <tr>
        <form>
        <% @admin.each do |admin| %>
            <td><%= admin.user_name %></td>
            <td><%= admin.password %></td> 
            </tr>
        <% end %>
        </form> 
    </tbody>
</table>
