
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <% form_for @admin do |f| %>
            <td>UserName: <%= @admin.user_name %></td>
            <td>Password: <%= @admin.password %></td>
            <%= f.submit %>
        <% end %>
        </tr>
    </thead>
</table>
    
