
<table class="table table-striped">
<thead class="thead-dark">
    <tr>
        <td><%= @admin.user_name %></td>
        <td>Password: <%= @admin.password %></td>
       
    </tr>
</thead>
</table>


<%= link_to "Edit", edit_admin_path(@admin) %>
<%= link_to "Delete", admin_path(@admin), remote: true, method: :delete %>
