
<% @student.each do |student| %>
    <div>
        <h3><%= @student.first_name %></h3>
        <h3><%= @student.last_name %></h3>
        <h3><%= @student.age %></h3>
        <h3><%= @student.highest_education %></h3>
    </div>
<% end %>

