
<table class="table table-striped">
<tr>
<form action="/user/user_id" method="POST">
    <tr><td><input type="hidden" name="_method" value="PUT"></td></tr>

    <tr><td><input type="text" name="cohort_id" value="<%= @cohort_student.cohort_id %>"></td></tr>

    <tr><td><input type="text" name="student_id" value="<%= @cohort_student.student_id %>"></td></tr>
    
    <button type="submit">Update</button>
</form>
</tr>
</table>