

<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <form>
        <th scope="col">Cohort ID</th>
        <th scope="col">Instructor ID</th>
    </form>
  </tr>
</thead>

<tbody>
  <tr>
    <form>
        <% @cohort_instructor.each do |cohort_instructor| %>
            <td><a class="nav-link" href="/cohort_instructors/<%= cohort_instructor.id %>"><%= cohort_instructor.cohort_id %></a></td>
            
            <td><%= cohort_instructor.instructor_id %></td>
        </tr>  
        <% end %>
    </form>
    </tbody>
  </table>

  <td><%= link_to "Create", new_cohort_instructor_path %></td>