<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
   
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" rel="stylesheet">

        <link rel="stylesheet" href="/css/style.css">
        
        <link rel="stylesheet" href="/app/assets">

        <h2>Dash Academy</h2>
        
	</head>
	<body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">	
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admins">Admins</a>
                    <a class="nav-link" href="/students">Students</a>
                    <a class="nav-link" href="/instructors">Instructors</a>
                    <a class="nav-link" href="/courses">Courses</a>
                    <a class="nav-link" href="/cohorts">Cohorts</a>
                </li>  
            </ul>
        </nav>
	</body>


<%= yield %>


