

<h1>These are the courses that are currently offered at Dash Academy</h1>

<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <form>
        <th scope="col">Course Name:</th>
        <th scope="col">Number of Hours</th>
    </form>
  </tr>
</thead>

<tbody>
  <tr>
    <form>
    <% @course.each do |course| %>
        <td><%= course.name %></td>
        <td><%= course.total_in_class_hours %></td>
    </tr>
    <% end %>
    </form>
</tbody>
</table>    

