


<form action="/user/user_id" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="name" value="<%= @course.name %>">
    <input type="text" name="total_in_class_hours" value="<%= @course.total_in_class_hours %>">

    <button type="submit">Update</button>
</form>