
<h1>Courses available</h1>
<p>The following courses are availabe at New York Code + Design Academy</p>

<div class="courses">
<a href="#default" class="logo">School Logo</a>
<div class="sub_header">
    <a class="active" href="#course">Course</a>
    <a href="#total_in_class_hours">Total Hours</a>
</div>
</div>

